* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 10% 0 0 0;
    height: 100vh;
    width: 80%;
    position: relative;
    top: 50%;
    margin: 0 auto;
}

input[type=text] {
    margin: 3rem auto;
    display: block;
    width: 60%;
    max-width: 300px;
    text-align: center;
    border: none;
    border-bottom: 2px solid grey;
}

.card {
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.72);
    padding: 1.5rem;
    border-radius: 17px;
    background-color: white;
    top: 35%;
    /* width: 50%; */
    max-width: 300px;
    min-width: 220px;
    margin: auto;
}

img {
    border-radius: 35px;
    margin-bottom: 1.5rem;
}

h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.5rem;
}

h3 {
    background-color: #FF8C02;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 1rem;
    color: white;
    border-radius: 19px;
    padding: 0 0.5rem;
    display: table;
}

h4 {
    font-family: 'Mulish', sans-serif;
    color: #5F6E86;
    margin-bottom: .5rem;
}


@media screen and (min-width: 500px) {
    .card {
    }
}